@import url('efeitos.css');

body {
    margin: 0;
    font-family: Arial;
}
header {
    background-color: rgb(146, 47, 47);
    padding: 20px;
    text-align: center;
}
h1 {
    color: rgb(180, 180, 180);
    margin: 0;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 0;
}
nav a {
    color: rgb(48, 48, 48);
    text-decoration: none;
}
nav a:hover {
    color: rgba(0, 0, 0, 0.795);
}

.video-index {
  margin-top: 20px;
}

.img-index {
 margin-top: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #5c1a1a;
  color: white;
}

#titulo-principal {
  text-align: center;
  color: #5c1a1a;
}

#contato {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.img-contato {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin: 15px 0;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input, textarea {
  width: 80%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #5c1a1a;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #7a2525;
}


.img-historia {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

